<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginCardServlet</display-name>
    <servlet-name>LoginCardServlet</servlet-name>
    <servlet-class>LoginCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCardServlet</servlet-name>
    <url-pattern>/LoginCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCardServlet</display-name>
    <servlet-name>RegisterCardServlet</servlet-name>
    <servlet-class>RegisterCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCardServlet</servlet-name>
    <url-pattern>/RegisterCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterEvents</display-name>
    <servlet-name>FilterEvents</servlet-name>
    <servlet-class>FilterEvents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterEvents</servlet-name>
    <url-pattern>/FilterEvents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBooks</display-name>
    <servlet-name>SearchBooks</servlet-name>
    <servlet-class>SearchBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBooks</servlet-name>
    <url-pattern>/SearchBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Top5BooksServlet</display-name>
    <servlet-name>Top5BooksServlet</servlet-name>
    <servlet-class>Top5BooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Top5BooksServlet</servlet-name>
    <url-pattern>/Top5BooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSpecificEventServlet</display-name>
    <servlet-name>ViewSpecificEventServlet</servlet-name>
    <servlet-class>ViewSpecificEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSpecificEventServlet</servlet-name>
    <url-pattern>/ViewSpecificEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSpecificBookServlet</display-name>
    <servlet-name>ViewSpecificBookServlet</servlet-name>
    <servlet-class>ViewSpecificBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSpecificBookServlet</servlet-name>
    <url-pattern>/ViewSpecificBookServlet</url-pattern>
  </servlet-mapping>
</web-app>