<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibraryBR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FilterEvents</display-name>
    <servlet-name>FilterEvents</servlet-name>
    <servlet-class>FilterEvents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterEvents</servlet-name>
    <url-pattern>/FilterEvents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardLogin</display-name>
    <servlet-name>CardLogin</servlet-name>
    <servlet-class>CardLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardLogin</servlet-name>
    <url-pattern>/CardLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCard</display-name>
    <servlet-name>RegisterCard</servlet-name>
    <servlet-class>RegisterCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCard</servlet-name>
    <url-pattern>/RegisterCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCatalog</display-name>
    <servlet-name>SearchCatalog</servlet-name>
    <servlet-class>SearchCatalog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCatalog</servlet-name>
    <url-pattern>/SearchCatalog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Top5Books</display-name>
    <servlet-name>Top5Books</servlet-name>
    <servlet-class>Top5Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Top5Books</servlet-name>
    <url-pattern>/Top5Books</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBook</display-name>
    <servlet-name>ViewBook</servlet-name>
    <servlet-class>ViewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBook</servlet-name>
    <url-pattern>/ViewBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEvent</display-name>
    <servlet-name>ViewEvent</servlet-name>
    <servlet-class>ViewEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEvent</servlet-name>
    <url-pattern>/ViewEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBooks</display-name>
    <servlet-name>AddBooks</servlet-name>
    <servlet-class>AddBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBooks</servlet-name>
    <url-pattern>/AddBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEventList</display-name>
    <servlet-name>GetEventList</servlet-name>
    <servlet-class>GetEventList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEventList</servlet-name>
    <url-pattern>/GetEventList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarkEventInterested</display-name>
    <servlet-name>MarkEventInterested</servlet-name>
    <servlet-class>MarkEventInterested</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkEventInterested</servlet-name>
    <url-pattern>/MarkEventInterested</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReadingList</display-name>
    <servlet-name>AddReadingList</servlet-name>
    <servlet-class>AddReadingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReadingList</servlet-name>
    <url-pattern>/AddReadingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveItem</display-name>
    <servlet-name>ReserveItem</servlet-name>
    <servlet-class>ReserveItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveItem</servlet-name>
    <url-pattern>/ReserveItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoanItem</display-name>
    <servlet-name>LoanItem</servlet-name>
    <servlet-class>LoanItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoanItem</servlet-name>
    <url-pattern>/LoanItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarkEvent</display-name>
    <servlet-name>MarkEvent</servlet-name>
    <servlet-class>MarkEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkEvent</servlet-name>
    <url-pattern>/MarkEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudyRooms</display-name>
    <servlet-name>StudyRooms</servlet-name>
    <servlet-class>StudyRooms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudyRooms</servlet-name>
    <url-pattern>/StudyRooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MeetingRooms</display-name>
    <servlet-name>MeetingRooms</servlet-name>
    <servlet-class>MeetingRooms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingRooms</servlet-name>
    <url-pattern>/MeetingRooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveMeeting</display-name>
    <servlet-name>ReserveMeeting</servlet-name>
    <servlet-class>ReserveMeeting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveMeeting</servlet-name>
    <url-pattern>/ReserveMeeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveStudy</display-name>
    <servlet-name>ReserveStudy</servlet-name>
    <servlet-class>ReserveStudy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveStudy</servlet-name>
    <url-pattern>/ReserveStudy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reserve</display-name>
    <servlet-name>Reserve</servlet-name>
    <servlet-class>Reserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reserve</servlet-name>
    <url-pattern>/Reserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveBookReadingList</display-name>
    <servlet-name>RemoveBookReadingList</servlet-name>
    <servlet-class>RemoveBookReadingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBookReadingList</servlet-name>
    <url-pattern>/RemoveBookReadingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardLogout</display-name>
    <servlet-name>CardLogout</servlet-name>
    <servlet-class>CardLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardLogout</servlet-name>
    <url-pattern>/CardLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsLoggedIn</display-name>
    <servlet-name>IsLoggedIn</servlet-name>
    <servlet-class>IsLoggedIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsLoggedIn</servlet-name>
    <url-pattern>/IsLoggedIn</url-pattern>
  </servlet-mapping>
</web-app>